@page "/"
@inject HttpClient Http

@if (isLoggedIn)
{
    <p>You've logged in</p>
}
else
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <EditForm Model="user" OnValidSubmit="LoginUser" class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;"> 
            <DataAnnotationsValidator />

            <h3 class="mb-3 text-center">Login</h3>

            <div class="mb-3">
                <label class="form-label">Username</label>
                <InputText @bind-Value="user.Username" class="form-control" />
                <ValidationMessage For="@(() => user.Username)" class="text-danger" />
                <p class="text-danger">@usernameMessage</p>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <InputText @bind-Value="user.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => user.Password)" class="text-danger" />
                <p class="text-danger">@passwordMessage</p>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </EditForm>
    </div>
}

@code {
    User user = new User();
    string token = String.Empty;
    string usernameMessage = String.Empty;
    string passwordMessage = String.Empty;
    bool isLoggedIn = false;

    class TokenResponse
    {
        public string token { get; set; } = String.Empty;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
            isLoggedIn = !string.IsNullOrEmpty(token);
            StateHasChanged();
        }
    }
    
    async Task LoginUser()
    {
        User? checkUser = db.Users.FirstOrDefault(u => u.Username == user.Username);
        if(checkUser == null)
        {
            usernameMessage = "Username not found";
            passwordMessage = String.Empty;
            return;
        }
        if(!BCrypt.Net.BCrypt.Verify(user.Password, checkUser.Password))
        {
            usernameMessage = String.Empty;
            passwordMessage = "Wrong password";
            return;
        }
        
        HttpResponseMessage? response = await Http.PostAsJsonAsync("api/auth/login", checkUser);
        if (response.IsSuccessStatusCode)
        {
            TokenResponse? result = await response.Content.ReadFromJsonAsync<TokenResponse>();
            await JS.InvokeVoidAsync("localStorage.setItem", "authToken", result?.token);
            NavigationManager.NavigateTo("/", true);
        }
    }

    async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "authToken");
        NavigationManager.NavigateTo("/", true);
    }
}