@page "/send-email"
@using System.Net;
@using System.Net.Mail;

@if (!string.IsNullOrEmpty(alertMessage))
{
    <div class="alert alert-@alertType alert-dismissible fade show" role="alert">
        @alertMessage
        <button type="button" class="btn-close" @onclick="() => alertMessage = String.Empty"></button>
    </div>
}

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-sm p-4" style="max-width: 600px; width: 100%;">
        
        <h3 class="mb-3">Send Email</h3>

        <div class="mb-3">
            <textarea @bind="text" class="form-control" rows="4" placeholder="Type your message..."></textarea>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary d-flex align-items-center gap-2"
                    @onclick="Send">
                <i class="bi bi-send"></i>
                Send
            </button>
        </div>

    </div>
</div>

@code {
    string text = String.Empty;
    string alertMessage = String.Empty;
    string alertType = String.Empty;

    void Send()
    {
        try
        {
            SmtpClient? smtp = new SmtpClient("smtp.gmail.com")
            {
                Port = 587,
                Credentials = new NetworkCredential(
                    "cpif2023@gmail.com",
                    "vdvutfsbssxozmpb"
                ),
                EnableSsl = true
            };

            MailMessage? mail = new MailMessage
            {
                From = new MailAddress("cpif2023@gmail.com"),
                Subject = "Alarm Notification",
                Body = text,
            };

            db.Emails
                .Select(e => new MailAddress(e.Address))
                .ToList()
                .ForEach(addr => mail.Bcc.Add(addr));
            
            smtp.Send(mail);
            alertMessage = "Email sent!";
            alertType = "success";
        }
        catch (Exception ex)
        {
            alertMessage = ex.Message;
            alertType = "danger";
        }
    }
}